*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    list-style: none;
}

#presentation{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1573164713988-8665fc963095?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2338&q=80");
    background-size: cover;
    background-position: 60% 0%;
}
#menu{
    position: fixed;
    left: 50px;
    top: 25vh;
}
#menu li{
  padding: 10px;
}
#menu li :hover span{
  display: inline;
}
#menu a{
    color: rgba(253, 254, 254,1);
    text-decoration: none;
}
.icon{
  border-radius: 48%;
  font-size: 2em; 
}
#menu span{
  padding-left: 10px;
  display: none;
}
#resume{
  background: linear-gradient(to bottom, rgba(25,67,164), rgba(253, 253, 253, 0));
}
figure{
  display: flex;
  flex-direction: row-reverse;
}
figure img{
  width: 30%;
  margin: 20px;
}
figure figcaption{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
figure figcaption p{
  display: block;
  text-align: center;
  font-size: 2em;
}
#experience{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 50vh;
}
#experience ul:last-child{
  width: 38%;
}
#experience ul li:first-child{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 10px;
}
#team{
  width: 100%;
}
#team img, #team p{
  display: block;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

#network{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?9kz5wr');
    src:  url('fonts/icomoon.eot?9kz5wr#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?9kz5wr') format('truetype'),
      url('fonts/icomoon.woff?9kz5wr') format('woff'),
      url('fonts/icomoon.svg?9kz5wr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-linkedin:before {
    content: "\e901";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-atom:before {
    content: "\e90b";
  }
  .icon-home:before {
    content: "\e90c";
  }
  .icon-user1:before {
    content: "\e971";
  }
  .icon-file-empty:before {
    content: "\e924";
  }
  .icon-share2:before {
    content: "\ea82";
  }
  #network li{
      margin-left: 20px;
  }
  #network span{
      display: none;
  }
  #network a{
      text-decoration: none;
      color:  rgba(25,67,164);
  }