table{
    margin: auto;
    border: solid 0.5px;
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 30px;
    width: 50%;
    height: 93vh;
    text-align: left;      
    border-left: solid grey 0.5px;  
}
